*, *::before, *::after
  box-sizing: border-box
html
  font-size: 18px
// body
//   background-color: #000
.container
  width: 90%
  max-width: 1200px
  margin: 0 auto
.header
  padding-top: 
  &__row
    display: flex
    justify-content: space-between
    align-items: center
  &__input
    max-width: 690px
    width: 60%
    height: 40px
    background-color: #fff
    border: 1px solid #d9d9d9
    border-radius: 2px
    padding: 8px 12px 8px 32px
    font-size: 0.888rem
    line-height: 1.333rem
    background: url(../img/home.svg) no-repeat left 11px center
    cursor: pointer
    // background-image: url(../img/home.svg)
    // background-repeat: no-repeat
    // background-position: left 11px center
.buttons
  display: flex
  align-items: center
  justify-content: space-between
.button
  padding: 8px 16px
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015)
  border-radius: 2px
  font-size: 0.888rem
  line-height: 1.333rem
  border: 1px solid #d9d9d9
  background-color: #fff
  cursor: pointer
  display: flex
  align-items: center
  &--primary
    color: #fff
    background-color: #1890ff
    border: 1px solid #1890ff
  &__icon
    margin-right: 6px
  &:first-of-type
    margin-right: 10px
